#tabs {
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 992px) {
    display: none;
  }

  .tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 55px;
    font-weight: 500;

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 55px;
      border-bottom: 4px solid var(--border-color-secondary);
      border-radius: 2px;
    }
  }
}