#leftSideBar {
  width: 275px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;

  .logo {
    height: 60px;
    margin-top: 12px;
    padding: 12px;
  }

  @media (max-width: 992px) {
    display: none;
  }

  .box {
    height: 60px;
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: calc(1rem + 4px);
    font-weight: 500;
    padding: 0 12px;

    .icon {
      font-size: 25px;
    }
  }

  .firstWrapper {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  .leftSideBarButton {
    background-color: var(--border-color-secondary);
    border: none;
    border-radius: 100px;
    height: 50px;
    max-width: 240px;
    width: 100%;
    font-size: calc(1rem + 1px);
    font-weight: 600;
    margin: 16px 8px;
  }

  .fixedBottom {
    position: absolute;
    bottom: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
    width: 100%;
    padding: 0 12px;

    .profileImageWrapper {
      width: 40px;
      flex-shrink: 0;

      @media screen and (max-width: 992px) {
        width: 30px;
      }
    }

    .profileImage {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      overflow: hidden;

      @media screen and (max-width: 992px) {
        width: 30px;
        height: 30px;
      }
    }

    .textWrapper {
      display: flex;
      flex-direction: column;
      gap: 2px;
      .name {
        font-weight: 500;
        font-size: 1rem;
      }

      .username {
        font-size: calc(1rem - 2px);
        color: var(--text-color-secondary);
      }
    }

    .icon {
      font-size: calc(1rem + 4px);
    }
  }
}
